## Display Movie data that has been loaded into the Coudant noSQL database

Example uses Spark SQL with a Cloudant data source

This sample notebook is written in Python and expects the Python 2.7.5 runtime. Make sure the kernel is started and you are connect to it when executing this notebook.

In [33]:
# Import Python stuff
import pprint
from collections import Counter

In [34]:
# Import PySpark stuff
from pyspark.sql import *
from pyspark.sql.functions import udf, asc, desc
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import IntegerType

### 1. Work with the Spark Context
A Spark Context handle sc is available with every notebook create in the Spark Service.  
Use it to understand the Spark version used, the environment settings, and create a Spark SQL Context object off of it.

In [35]:
sc.version

u'2.0.2'

In [36]:
# sc is an existing SparkContext.
sqlContext = SQLContext(sc)

### 2. Work with a Cloudant database
A Dataframe object can be created directly from a Cloudant database. To configure the database as source, pass these options:  
1 - package name that provides the classes (like CloudantDataSource) implemented in the connector to extend BaseRelation. For the Cloudant Spark connector this will be com.cloudant.spark  
2 - cloudant.host parameter to pass the Cloudant account name  
3 - cloudant.user parameter to pass the Cloudant user name  
4 - cloudant.password parameter to pass the Cloudant account password

In [1]:
# The code was removed by DSX for sharing.

In [2]:
cloudantdata = sqlContext.read.format("com.cloudant.spark").\
option("cloudant.host",credentials['host']).\
option("cloudant.username",credentials['username']).\
option("cloudant.password",credentials['password']).\
load("moviedb")

In [3]:
# Use the dataframe 'show()' method to visualise the dataset
cloudantdata.show()

+----+--------------------+--------------------+--------------------+
| _id|                _rev|                name|                 url|
+----+--------------------+--------------------+--------------------+
|   1|1-d566f753a70cd18...|     Primeval (2007)|https://en.wikipe...|
|  10|1-d502b37f75afe1f...|       The Ex (2007)|https://en.wikipe...|
| 100|1-17c6a9a45b57b96...|Black Snake Moan ...|https://en.wikipe...|
|1000|1-8480be4dfa2e4db...|The Next Three Da...|https://en.wikipe...|
|1001|1-aa4a0bd04bd1bf5...|  Daybreakers (2010)|https://en.wikipe...|
|1002|1-6f9ccb3bccbd159...|     Farewell (2010)|https://en.wikipe...|
|1003|1-67202aaa2165a59...| The Mechanic (2011)|https://en.wikipe...|
|1004|1-bd2df96adf8ae90...|Red Riding Hood (...|https://en.wikipe...|
|1005|1-40655491d97792c...|Johnny English Re...|https://en.wikipe...|
|1006|1-283cde9d5e00c9e...|      Super 8 (2011)|https://en.wikipe...|
|1007|1-d414f4b85a21b84...|        50/50 (2011)|https://en.wikipe...|
|1008|1-50a1fa6137630e1...|Mars Needs Moms (...|https://en.wikipe...|
|1009|1-d7fe971fa0ddfa0...|Fullmetal Alchemi...|https://en.wikipe...|
| 101|1-d26a3a8c32bc34c...|Pirates of the Ca...|https://en.wikipe...|
|1010|1-8989c2f284afb4c...|          Bol (2011)|https://en.wikipe...|
|1011|1-e9a706e76806e3b...|   The Sitter (2011)|https://en.wikipe...|
|1012|1-8ac3bcc9612cf58...|    Zookeeper (2011)|https://en.wikipe...|
|1013|1-753fb531f6a26f6...|      Win Win (2011)|https://en.wikipe...|
|1014|1-04c7d0d6cbc1482...|Justin Bieber: Ne...|https://en.wikipe...|
|1015|1-4296ada83408802...|      Beastly (2011)|https://en.wikipe...|
+----+--------------------+--------------------+--------------------+
only showing top 20 rows

### 3. Work with a Dataframe
At this point all transformations and functions should behave as specified with Spark SQL. (http://spark.apache.org/sql/)

In [4]:
cloudantdata.printSchema()

root
 |-- _id: string (nullable = true)
 |-- _rev: string (nullable = true)
 |-- name: string (nullable = true)
 |-- url: string (nullable = true)

In [5]:
cloudantdata.count()

2609

In [6]:
cloudantdata.select("name", "url").show()

+--------------------+--------------------+
|                name|                 url|
+--------------------+--------------------+
|     Primeval (2007)|https://en.wikipe...|
|       The Ex (2007)|https://en.wikipe...|
|Black Snake Moan ...|https://en.wikipe...|
|The Next Three Da...|https://en.wikipe...|
|  Daybreakers (2010)|https://en.wikipe...|
|     Farewell (2010)|https://en.wikipe...|
| The Mechanic (2011)|https://en.wikipe...|
|Red Riding Hood (...|https://en.wikipe...|
|Johnny English Re...|https://en.wikipe...|
|      Super 8 (2011)|https://en.wikipe...|
|        50/50 (2011)|https://en.wikipe...|
|Mars Needs Moms (...|https://en.wikipe...|
|Fullmetal Alchemi...|https://en.wikipe...|
|Pirates of the Ca...|https://en.wikipe...|
|          Bol (2011)|https://en.wikipe...|
|   The Sitter (2011)|https://en.wikipe...|
|    Zookeeper (2011)|https://en.wikipe...|
|      Win Win (2011)|https://en.wikipe...|
|Justin Bieber: Ne...|https://en.wikipe...|
|      Beastly (2011)|https://en.wikipe...|
+--------------------+--------------------+
only showing top 20 rows

In [7]:
import pandas as pd
pandaDf = cloudantdata.select("name").toPandas()
print(pandaDf, 10)

(                                                   name
0                                       Primeval (2007)
1                                         The Ex (2007)
2                               Black Snake Moan (2007)
3                            The Next Three Days (2010)
4                                    Daybreakers (2010)
5                                       Farewell (2010)
6                                   The Mechanic (2011)
7                                Red Riding Hood (2011)
8                          Johnny English Reborn (2011)
9                                        Super 8 (2011)
10                                         50/50 (2011)
11                               Mars Needs Moms (2011)
12    Fullmetal Alchemist: The Sacred Star of Milos ...
13      Pirates of the Caribbean: At World's End (2007)
14                                           Bol (2011)
15                                    The Sitter (2011)
16                                     Zookeeper (2011)
17                                       Win Win (2011)
18                Justin Bieber: Never Say Never (2011)
19                                       Beastly (2011)
20                                     Anonymous (2011)
21                               Gnomeo & Juliet (2011)
22                                        Cars 2 (2011)
23            A Very Harold & Kumar 3D Christmas (2011)
24                                    Pathfinder (2007)
25                                      Footnote (2011)
26                Rise of the Planet of the Apes (2011)
27                                 Your Highness (2011)
28                                    The Divide (2011)
29                                     Hall Pass (2011)
...                                                 ...
2579  Percy Jackson & the Olympians: The Lightning T...
2580                           For Colored Girls (2010)
2581                                     Killers (2010)
2582                           Countdown to Zero (2010)
2583                                Tamara Drewe (2010)
2584                           Pyaar Impossible! (2010)
2585                          Death at a Funeral (2010)
2586                                      Easy A (2010)
2587                        Daddy's Little Girls (2007)
2588                                   You Again (2010)
2589                                  Iron Man 2 (2010)
2590                               Racing Dreams (2010)
2591                                 Holy Roller (2010)
2592                                 Happy Tears (2010)
2593                                The Runaways (2010)
2594                                 Just Wright (2010)
2595    Cats & Dogs: The Revenge of Kitty Galore (2010)
2596          The City of Your Final Destination (2010)
2597                           The Spy Next Door (2010)
2598                               The Orphanage (2007)
2599                          The Social Network (2010)
2600                          Stonewall Uprising (2010)
2601                               Trash Humpers (2010)
2602                                 The Infidel (2010)
2603                                 Toy Story 3 (2010)
2604                            The Lightkeepers (2010)
2605                                    Creation (2010)
2606                              The Nutcracker (2010)
2607                                    The Town (2010)
2608                          Behind the Burly Q (2010)

[2609 rows x 1 columns], 10)

## Display the "randomly generated" Ratings from Object Storage

Drag and drop the ratings file onto the files rectangle. then use the DSX code insertion feature to create a hadoop configuration to allow Spark to access the object storage the ratings file resides on.

In [8]:
# The code was removed by DSX for sharing.

Read the file from object storage and display the first 10 records. This is using pySpark.  
No column headings in the file. They are UserID::MovieID::Rating::Timestamp

Note: change the code insertion 'path_n' variable above to 'ratingsFile'

In [9]:
ratingsRDD = sc.textFile(ratingsFile)

ratingsRDD.take(10)

[u'1::832::2::N/A',
 u'1::1781::1::N/A',
 u'1::1124::1::N/A',
 u'1::2297::1::N/A',
 u'1::744::1::N/A',
 u'1::1141::2::N/A',
 u'1::1858::2::N/A',
 u'1::1844::1::N/A',
 u'1::1883::1::N/A',
 u'1::2029::1::N/A']

In [10]:
ratingsRDD.count()

484560

Now we do the same but this time with straight python code.

In [28]:
# The code was removed by DSX for sharing.

Remember to update the inserted code to use the 'dataFile' return field

In [29]:
import pandas as pd

dataRDD = pd.read_csv(dataFile)
dataRDD.head()

    1::832::2::N/A
0  1::1781::1::N/A
1  1::1124::1::N/A
2  1::2297::1::N/A
3   1::744::1::N/A
4  1::1141::2::N/A

In [30]:
dataRDD.count()

1::832::2::N/A    484559
dtype: int64